*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway,'times new roman', serif;
}
html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: #CEBACF;
    font-weight: bold;
    cursor: default;
}

.breadcrumb {
    text-align: right;
    font-family: Raleway;
    font-size: medium;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 2s;
  }
  .breadcrumb li {
    display: inline-block;
    padding: 1.5%;
}

  .breadcrumb a {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 20px;
    word-spacing: 10px;
    position: relative;
}
.breadcrumb li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #7D80DA;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.breadcrumb li a:hover::after{
    width: 100%;
}
    
h1{
    font-family: Montserrat,'Times New Roman', Times, serif;
}
.greeting {
    color: white;
    font-size: 120px;
    font-family: Raleway, 'Times New Roman', serif;
    float: left;
    margin-top: -350px;
   position: relative;
   left: 5%;
}
.greeting span{
    color: #7D80DA;
}
.bio {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    font-family: Raleway, 'Times New Roman', serif;
    float: left;
    font-weight: 700;
    padding: 40px;
    margin-bottom: 50px;
}
.title {
    color: #7D80Da;
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
    font-weight: bolder; 
    margin-left: 30px;
    border: 3px solid white;

} 
h2 {
    color: #7D80DA;
    font-size: 75px;
    text-align: center;
    margin-right: 20px;
    font-family: Montserrat,'Times New Roman', serif;
    display: block;
    font-weight: 900;
    margin-bottom: 10px;

}
.headshot {
     padding: 10px 10%;
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     height: 700px;
     margin-top: -800px;
     margin-right: 500px;
     position: relative;
     right: -800px;
}
.name {
    transform: scale(0.3);
    margin: 0 auto;
    margin-top: -750px;
    margin-left: -675px;
    margin-bottom: 0;
    height: auto;

}
.tab-titles{
    display:flex;
    margin-bottom: 250px;
    padding: 20px;
    position: relative;
    text-align: center;
    margin-right: 20px; 
    position: relative;
    justify-content: center;
}

.tab-links{
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-size: 36px;
    color: white;
   
}
.tab-links::after{
    content: " ";
    width:0;
    height: 5px;
    background: #7D80DA;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}
.tab-links.active-link::after{
width: 50%
}
.tab-contents {
    color: white;
    margin: -230px 200px -100px 630px; /* top, right, bottom, left */
    padding: 15px;
    position: relative;
    text-align: left;
    display: none;
}
.tab-contents ul li{
    list-style: none;
    padding-left: 10px;
    margin-right: -960px;
}
.tab-contents-li{
    color:white;
    content: " ";
    list-style: none;
    padding: 10px;
    font-size: 16px;
}
.experience-tab-li{
    color:white;
    content: " ";
    list-style: none;
    padding: 10px;
    font-size: 16px;
}
.tab-contents.active-tab{
  display: block;
}

ul {
    margin: 0;
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
.sub-title{
    margin-top: 50px;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.contact-info{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    font-family: Raleway, 'Times New Roman', serif;
    font-weight: 700;
    padding: 40px;
    margin-bottom: 50px;
    text-decoration: none;
    justify-content: center;
}
.contact-info::after{
        content: '';
}
.contact-info a{
    color: white;
    text-decoration: none;
}
.contact-info ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#contact .contact-info{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* css for small screens */
@media only screen and (max-width: 600px) and (min-resolution: 200dpi){
    #header{
        background-image: url(images/headshot.jpg);
    }
    .breadcrumb {
        text-align: right;
        font-family: Raleway;
        font-size: medium;
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 2s;
      }
      .breadcrumb li {
        display: inline-block;
        padding: 1.5%;
        }
    
      .breadcrumb a {
        display: inline;
        color: white;
        text-decoration: none;
        font-size: 20px;
        word-spacing: 10px;
        position: relative;
        }
    .breadcrumb li a::after {
        content: '';
        width: 0;
        height: 3px;
        background: #7D80DA;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
        }
    .breadcrumb li a:hover::after{
        width: 100%;
        }
    .name{
        margin-bottom: -760px;
    }

}